// FOOTER :: START
footer.footer(js-reveal-footer)
  .container
    .row
      .col-sm-6.col-md-3
        .footer__head О компании
        .footer__links
          a(href='#') О компании	
          a(href='#') Наши сотрудники
          a(href='#') Дипломы и награды
          a(href='#') Благотворительность
          a(href='#') Обратная связь
      .col-sm-6.col-md-3
        .footer__head Полезная <br>информация
        .footer__links
          a(href='#') Размерная сетка
          a(href='#') Используемые материалы 
          a(href='#') Уход за одеждой.
      .col-sm-6.col-md-3
        .footer__head Новости/<br>Акции
        .footer__links
          a(href='#') О компании	
          a(href='#') Размерная сетка
          a(href='#') Используемые материалы 
          a(href='#') Уход за одеждой.
      .col-sm-6.col-md-3
        .footer__head Магазины
  
  .footer__bottom
    .container
      .row
        .col-md-6
          .footer__head Контакты
          .footer__contact-row
            .footer__icon
              +icon('ico-location')
            span 111024, г. Москва, ул.Авиамоторная, д.44, стр.1 <br> (м.Авиамоторная) (территория бывшего  таксомоторного парка).
          .footer__contact-row
            .footer__icon
              +icon('ico-phone')
            span +7 (495) 647-89-01 (многоканальный), <br> +7 (495) 796-06-05
          .footer__contact-row
            .footer__icon
              +icon('ico-mail')
            span sales@diway.ru
        
          .footer__head Мы в социальных сетях
          
          a(href="#" target="_blank").footer__social
            .footer__icon
              +icon('ico-social-vk')
            span Vkontakte
            
          a(href="#" target="_blank").footer__social
            .footer__icon
              +icon('ico-social-fb')
            span Facebook  
            
          a(href="#" target="_blank").footer__social
            .footer__icon
              +icon('ico-social-ok')
            span Odnoklassniki  

          a(href="#" target="_blank").footer__social
            .footer__icon
              i.icon.icon-social-insta
            span Instagram  
          
          .footer__copywrite Copyright © 2017 www.diway.ru

              
          
            
        .col-md-6.col-grow-child
          .footer__map#footerMap
        

          
// FOOTER :: END
